.myli{
	width:100%;
	color:#967415;
	text-align: center;
	background:#1e231f;
	padding-top:5px;
	line-height:30px;
}
.myem{
	color:red;
	float:right;
	margin-right:5px;
}
.di{
	display:none;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
