.oneapp{
	width:100%;
	background:#3dc9d6;
	background-size: 100% 100%;
}
.myheader{
	height: 300px;
	width: 100;
}
.headerinput{
	height:200px;
	width:50%;
	margin-left: 25%
}
.headerinput input{
	width: 80%;
	height:25px;
	text-align: center;
	margin-left: 10%;
	border-radius: 2px;
	margin-top: 10px;
	border:1px solid #fff;
	transition: all 0.3s;
	background:#215716
}
.headerinput .headerinputt{
	background: #5ea7c0;
}

.onebuton{
	width: 35%;
	height:25px;
	margin-left: 10%;
	margin-top: 10px;
	border-radius: 5px;
	background: #856482;
	border: none;
	color: #fff;
}
.denglunonde{
	display: none;
}
.oneclass .denglunondes{
	display: block;
}
.ermax{
	color: #fff;
	font-size: 15px;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.ulsty ul{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #823a79
}
.ulsty ul{
	li{
	float: left;
	text-align: center;
	width: 20%;
	line-height: 50px;
	color:red;
	transition: all 0.5s;
	}
}
.ulsty .toptaill{
	background: #823a79;
	color:#fff;
}
.topbut{
	width: 100%;
	height:500px;
	color: #fff;
	text-align: center;
	line-height: 500px
}
.mygo{
	text-align: center;
}
.mygo p{
	font-size: 20px;
	color: #fff;
}

.mygo ul li{
	font-size: 20px;
	color: #fff;
}